@import 'mixins';
@import 'settings';

$opi-red: #C82506;;

$backgroundColor: white;
$headingColor: $opi-red;
$selectionBackgroundColor: mix(black, $opi-red, 25%);

@mixin bodyBackground() {
  background: #FFF;
  background: inline('./images/pattern.png');
  background-repeat: repeat;
  background-size: 200px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba($backgroundColor, 1) 25%, rgba($backgroundColor, 0));
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 83px;
    width: 255px;
    background-image: inline('./images/OPi-logo-stacked.png');
  }
}

@import 'theme';
